.rating {
    @include flex-setting(row, flex-start, center);
    gap: toRem(3);

    &__star {
        @include flex-setting(column, center, center);
        width: toRem(18);
        height: toRem(18);
        color: $light;
        cursor: pointer;

        &.active {
            color: $orange;
        }
    }

    &__star svg {
        width: toRem(18);
        height: toRem(18);
        fill: currentColor;
    }
}
