.button {
    @include flex-setting(column, center, center);
    width: 100%;
    padding: toRem(12.5) 0;
    background-color: $blue;
    border: none;
    border-radius: toRem($border-radius);
    @include font-setting($primary-font, toRem(14), toRem(17), 500, $white);
    transition: 0.2s $cubic;

    &:hover {
        transition: 0.2s $cubic;
        background-color: $button-focus;
    }

    &:active {
        transition: 0.2s $cubic;
        background-color: $button-active;
    }
}